apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- service.yaml
- ingress.yaml
commonLabels:
  app: cicdmeta-demo1  #appfactory
images:
- name: cicdmeta-demo1  #appfactory
  newName: harbor-us-vdc.zilliz.cc/cicdmeta/cicdmeta-demo1
  newTag: main-20240715-7cc2d96
